/* fonts */
@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* reset */
:root {
  --color-primary: #EB6424;
  --color-secondary: #FA9500;
  --color-darkblue: #27187E;
  
  --color-divider: #eee;

  --height-header: 50px;
  --height-nav: 60px;

  --padding-body-horizontal: 30px;
}
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, hgroup,
menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}
button {
	display: inline-block;
	border: none;
	margin: 0;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
	color: inherit;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

.material-symbols-outlined {
  vertical-align: top;
}

/* common styles */

* {
  box-sizing: border-box;
}

input {
	all: unset;
}

body {
  font-family: 'Open Sans', serif;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

/* Header */
.navbar {
  border-bottom: 1px solid var(--color-divider);
}
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  color: var(--color-primary) !important;
}

/* Navigation */
#navigation-list {
  display: flex;
  justify-content: space-around;
  height: var(--height-nav);
  color: #fff;
  background-color: var(--color-primary);
}
#navigation-list > li {
  display: flex;
  flex:1;
}
#navigation-list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}


/* buttons */
.btn-primary {
  background-color: #27187E;
}

.btn-outline.secondary {
  background-color: #F1F2F6;
}

/* request card */
.card ~ .card {
  margin-top: 30px;
}
.request-short{
  max-width: 60vw;
}

/* common classes */
#container {
  margin-top: var(--height-header);
  margin-bottom: var(--height-header);
  padding-bottom: 40px;
  min-height: calc(100vh - var(--height-header) - var(--height-nav));
}
.container-padding {
  padding: 0 var(--padding-body-horizontal);
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* bootstrap */
.img-thumbnail {
  padding: 0 !important;
}