/* fonts */
@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/font/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* reset */
:root {
  --color-primary: #EB6424;
  --color-highlight: #e62606;
  --color-secondary: #FA9500;
  --color-darkblue: #27187E;
  --color-lightgray: rgb(220, 220, 220);

  --color-divider: #eee;

  --color-text-gray: rgb(147, 147, 147);
  --color-placeholder: rgb(172, 172, 172);
  --color-disabled:rgb(129, 129, 129);

  --height-header: 50px;
  --height-nav: 60px;

  --padding-body-horizontal: 20px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

i {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  color: inherit;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* Google icons */
.material-symbols-outlined {
  vertical-align: middle;
  font-size: 1.5em;
}

/* common styles */

* {
  box-sizing: border-box !important;
  word-break: break-word;
}

textarea {
  resize: none;
}

input {
  all: unset;
}

body {
  font-family: 'Open Sans', serif;
  line-height: 1.2;
  background-color: #fff;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

h2+p {
  margin-top: .5em;
  font-size: 15px;
  color: var(--color-text-gray);
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-placeholder) !important;
  opacity: 1; /* Firefox */
}

/* Header */
.navbar {
  border-bottom: 1px solid var(--color-divider);
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  color: var(--color-primary) !important;
}

.navbar .logo {
  display: block;
  width: 120px;
}

/* Navigation */
#navigation-list {
  display: flex;
  justify-content: space-around;
  height: var(--height-nav);
  color: #fff;
  background-color: var(--color-primary);
}

#navigation-list>li {
  display: flex;
  flex: 1;
}

#navigation-list>li>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}


/* buttons */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.btn-highlight,
.btn-highlight:hover,
.btn-highlight:focus {
  background-color: var(--color-highlight);
  border-color: var(--color-highlight);
}


.btn-outline.secondary {
  background-color: #F1F2F6;
}

/* request card */
#requests {
  padding: 0 0 80px;
}

.card~.card {
  margin-top: 30px;
}

.request-short {
  max-width: 60vw;
}

.request {
  display: block;
  font-size: 0.8rem;
  border: 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-divider);
}

.request .container-text {
  line-height: 1.4;
}

.request .request-details {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
  margin-bottom: 5px;
}

.request .card-body {
  position: relative;
  height: 100%;
  padding: .5em 0 .5em 1em;
}

.request .card-title {
  font-size: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request .img {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 30%;
  min-width: 160px;
  min-height: 100%;
}

.request .img:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.request img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.request .card-container {
  display: flex;
}

.request .container-text {
  flex: 1
}

.requests-tab {
  margin-top: 20px;
}

.request-tab-content {
  margin-top: 10px;
}

.request-bottom {
  position: absolute;
  right: 0;
  bottom: 5px;
}


/* common classes */
.hidden {
  display: block;
  position: absolute;
  font-size: 1px;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.block {
  display: block;
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--height-header);
  margin-bottom: var(--height-header);
  min-height: calc(100vh - var(--height-header) - var(--height-nav));
}

.container-padding {
  padding: 30px var(--padding-body-horizontal) 80px;
}

.container-padding-vertical {
  padding-top: 30px;
  padding-bottom: 80px;
}

.container-padding-horizontal {
  padding-right: var(--padding-body-horizontal);
  padding-left: var(--padding-body-horizontal);
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .item~.item {
  margin-top: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Geoapify Address Autocomplete */
.autocomplete-container {
  margin-bottom: 20px;
}

.location-input-container {
  display: flex;
  position: relative;
}

.location-input-container input {
  flex: 1;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;

  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

/* bootstrap */
.img-thumbnail {
  padding: 0 !important;
}

/* .shadow {
  box-shadow: .1em .1em  0.2em rgba(0,0,0,.1)!important;
} */



.mdl-card {
  border-radius: 1em;
}

#firebaseui-auth-container h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

#firebaseui-auth-container button {
  font-size: 16px;
  background-color: #db7500;
  border-radius: 0.5em;
}

#firebaseui-auth-container button:hover {
  background-color: #FF8600;
}

/* modals */
#success-modal {
  padding: 30px;
}
#success-modal .modal-dialog{
  display: flex;
  justify-content: center;
}
#success-modal .modal-content {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 280px;
  padding: 50px 30px;
  font-size: 24px;
  border-radius: 30px;
}
#success-modal .img {
  width: 80px;
  margin-bottom: 16px;
}

.current-page {
  background-color: hsl(19, 83%, 43%);
}

@media only screen and (min-width : 580px) {
  .request {
    font-size: 1em;
  }

  .request-detail {
    -webkit-line-clamp: 3;
    height: 4.2em;
  }
}

