/* Common css files */
:root {
  --color-primary: #EB6424;
  --color-secondary: #FA9500;
  --color-darkblue: #27187E;
  
  --color-divider: #eee;
}

/* Nav bar */
.navbar {
  border-bottom: 1px solid var(--color-divider);
}
.navbar.bg-light {
  background-color: #fff !important;
}
.navbar-brand {
  color: var(--color-primary) !important;
}

/* buttons */
.btn-primary {
  background-color: #27187E;
}

.btn-outline.secondary {
  background-color: #F1F2F6;
}

/* request card */
.card ~ .card {
  margin-top: 30px;
}
.request-short{
  max-width: 60vw;
}

/* bootstrap */
.img-thumbnail {
  padding: 0 !important;
}