/* Home page */
#user-welcome {
  padding-top: 20px;
}

#user-welcome>a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all .3s;
}

#user-welcome>a:hover {
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.15);
}

.profile-pic {
  display: block;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-divider);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  display: block;
  margin-left: 1em;
  font-size: 1.2rem;
}
.accordion-button:focus {
box-shadow: none;
}

.accordion-button:not(.collapsed){
  background-color: white;
}

.accordion-button:hover{
  background-color: #EB6424;
}

.request-tab-content .accordion>.card {
  border: 0;
}

#requests .btn-link {
  color: inherit;
  text-decoration: none;
}

#requests .nav-tabs {
  border: 0;
  gap: 10px;
}

#requests .nav-link {
  padding: 14px 5px;
  color: var(--color-text-gray);
  border-radius: 10px !important;
}

#requests .nav-link.active {
  color: var(--color-primary);
  border-color: var(--color-lightgray);
}

#requests .card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary);
}

#requests .card-header .btn-link {
  width: 100%;
  padding: 10px 15px;
  border-radius: 0;
  text-align: left;
  color: #000;
  font-size: .8em;
  font-weight: 400;
  transition: all .3s;
}

#requests .card-header .btn-link:hover {
  color: #fff;
  background-color: var(--color-primary);
}

/* Browse */
.detailNav {
  width: 50%;
  margin: auto;
}

.requestButton {
  background-color: #EB6424;
  color: white;
}

.request-urgency {
  color: limegreen;
}

/* Add requests */
.container-post-step1 {
  padding-bottom: 100px;
}

.container-post-step1 h2 {
  text-align: center;
}

#list-request-type {
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
}

#list-request-type li~li {
  margin-top: 40px;
}

.button-select-type {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  padding: 30px 20px;
  font-size: 24px;
  border: 1px solid var(--color-divider);
  background-color: #fff;
  transition: all .3s;
}

.button-select-type:hover {
  background-color: var(--color-primary);
}

.button-select-type:hover * {
  color: #fff !important;
}

.button-select-type strong {
  font-weight: 500;
  flex: 1;
  text-align: center;
}

.button-select-type .material-symbols-outlined {
  font-size: 50px;
  margin-right: 16px;
  color: var(--color-primary);
}

.add-photo {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 10px 30px;
  margin: 20px 0 0;
}
.input-placeholder {
  color: var(--color-placeholder);
  margin-bottom: 20px;
}

.btn-add-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: var(--color-lightgray);
  flex-shrink: 0;
}

.btn-add-photo span {
  font-size: 40px;
}

.btn-add-photo p {
  margin-top: 4px;
  font-size: 0.9rem;
  line-height: 1;
}

.btn-add-photo p i {
  color: var(--color-primary);
}

#upload-output {
  display: flex;
}

.thumbnail {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 20px;
  border: 1px solid var(--color-lightgray);
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-primary);
  padding: 0 0 2px 0;
}

.thumbnail-delete:hover {
  background-color: var(--color-highlight)
}

/* Profile Edit */

.text-error {
  width: 200px;
  font-size: 8pt;
  color: red;
  margin-left: 5px;
}

.request {
  /* border-radius: 15px; */
  transition: 0.5s;
}
/* Chat */
.request:hover {
background-color: rgb(245, 243, 243);
}

.card-container > .img {
 margin: auto auto;
}

.card-container .img-thumbnail {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 5% auto;
  /* border-radius: 15px; */
}

#message {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.messages {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sent-message {
  width: 50%;
  margin-left: 50%;
}

.sent-time {
  text-align: right;
}
.latest-message-time{
  margin-right: 10px;
}
.sub-text {
  margin-left: 13%;
}

.received-message {
  width: 50%;
}
.msg-recipient {
  font-weight: bold;
}
.recipient {
  position: relative;
  bottom: 20%;
}

.request-name{
  font-weight: 500;
}
#message-details {
  padding-left: 5%;
  padding-right: 5%;
}

.profile-container img {
  width: 100%;
  height: 75%;
}

.chat-box {
  width: 80%;
}

.send-button {
  width: 10%;
}

.notification {
  position:relative;
  bottom: 70%;
  left: 90%;
  color: red;
}