<a href="./chatroom.html" class="card request request-long requestPlaceholder">
  <div class="card-container">
    <div class="img">
      <img src="./public/img/default.png" class="img-thumbnail request-image" alt="dummy">
    </div>
    <div class="container-text">
      <div class="card-body">
        <h5 class="card-title msg-recipient">Recipient Name</h5>
        <p class="card-text latest-message">This is the last message, confined to one line...</p>
        <p class="card-text latest-message-time d-flex justify-content-end">12m</p>
        <hr />
        <p class="card-text request-name ellipsis-1 text-gray">Request Name</p>
        <p class="card-text request-location ellipsis-1">Location</p>
        <p class="card-text category text-gray">Category</p>
        <span class="material-symbols-outlined notification">
          priority_high
        </span>
      </div>
    </div>
  </div>
</a>