<a href="/html/Chatroom.html" class="card request request-long requestPlaceholder mb-3 mt-3">
    <div class="card-container">
      <div class="img">
        <img src="/img/snow1.jpg" class="img-thumbnail request-image" alt="dummy">
      </div>
      <div class="container-text">
        <div class="card-body">
          <h5 class="card-title msg-recipient">Recipient Name</h5>
          <p class="card-text latest-message">This is the last message, confined to one line...</p>
          <p class="card-text request-name text-muted">Request Name</p>
          <p class="card-text request-location"><small class="text-muted">Location</small></p>
          <p class="card-text category"><small class="text-muted">Category</small></p>
          <p class="card-text latest-message-time d-flex justify-content-end">12m</p>
        </div>
      </div>
    </div>
  </a>