<nav id="navigation" class="fixed-bottom">
  <ul id="navigation-list">
    <li>
      <a href="/main">
        <span class="material-icons">home</span>
        Home
      </a>
    </li>
    <li>
      <a href="/post-select-type">
        <span class="material-symbols-outlined">add_box</span>
        Post
      </a>
    </li>
    <li>
      <a href="/browse">
        <span class="material-icons">manage_search</span>
        Browse
      </a>
    </li>
    <li class="navitem">
      <a href="/chat">
        <span class="material-symbols-outlined">sms</span>
        Chat
      </a>
    </li>
    <li>
      <a href="/profile">
        <span class="material-symbols-outlined">person</span>
        Profile
      </a>
    </li>
  </ul>
</nav>

<script>
  function currentPage() {

    //grabs an array containing all anchor elements inside the element with id 'navigation'
    var navLinks = document.getElementById('navigation').getElementsByTagName('a');

    //Current is set to -1 so no buttons are highlighted by default
    let current = -1;

    //Each anchor element is cycled through to see which button is to be highlighted
    for (var i = 0; i < navLinks.length; i++) {
      if (navLinks[i].pathname === window.location.pathname) {
        current = i;
        //Basic if functions that highlight button corresponding to these pages
      } else if (window.location.pathname === '/post-help' || window.location.pathname === '/post-volunteer') {
        current = 1;
      } else if (window.location.href.indexOf('request-details') > -1) {
        current = 2;
      } else if (window.location.href.indexOf('chatroom') > -1) {
        current = 3;
      }
    }
    //Adds the class to the page that the user is currently on.
    navLinks[current].className = 'current-page';
  }
  currentPage();

</script>
<script src="/js/notification.js"></script>